*{
    margin: 0;
    padding: 0;
}
.header{
  display: flex;
  justify-content: flex-end;
  background-color: skyblue;
  height: 70px;
  align-items: center;
}
:link{
    text-decoration: none;
}
.active{
    color: red;
    text-decoration: underline;
}
.h3{
    margin-right: 50px;
   
}